<ion-view view-title="Delegate">
  <ion-content class="padding" >
    <div class="row">
      <div class="col col-33 col-offset-33">
        <img src="{{current_delegate.avatar_url}}" height="auto" width="100%" style="max-width: 200px">
      </div>
    </div>

    <div class="row">
      <div class="col col-offset-33 col-offset-33 col-offset-33"></div>
    </div>

    <table class="player-stats">
        <tr>
          <th>Ime</th>
          <td>{{current_delegate.name}}</td>
        </tr>
        <tr>
          <th>Prezime</th>
          <td>{{current_delegate.surname}}</td>
        </tr>
    </table>

  </ion-content>
</ion-view>
