<!--
Tabovi za WELCOME (HOME) stranu, gde se nalaze linkovi ka stranicama:
1. Login
2. O nama
3. Kontakt
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Login Tab -->
  <ion-tab title="Login" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/home_tab/login">
    <ion-nav-view name="home_tab-login"></ion-nav-view>
  </ion-tab>

  <!-- O nama Tab -->
  <ion-tab title="O nama" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/home_tab/o_nama">
    <ion-nav-view name="home_tab-o_nama"></ion-nav-view>
  </ion-tab>

  <!-- Kontakt Tab -->
  <ion-tab title="Kontakt" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/home_tab/kontakt">
    <ion-nav-view name="home_tab-kontakt"></ion-nav-view>
  </ion-tab>


</ion-tabs>
