<ion-view title="BALF" class="onama">
  <ion-content class="padding">
    
      <h2>SPORT. REKREACIJA. DRUZENJE</h2>
     <div id="logo_naslovna">
     <img src="img/BALF-LOGO.png" alt="Logo" style="width:100px;height:120px;">
     <div class="login_form">
     <div class="list list-inset">
      
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      
      </div>
      <button class="button button-block" ng-click="login()">         <h4>Log in</h4></button>
      </div>
     
  </ion-content>
</ion-view>
