<ion-view view-title="O nama">
  <ion-content>
  <div id="o_nama">
    <h1>O nama</h1>
    </div>
    <div id="bgr-img">
   <img src="img/BALF-LOGO.png" alt="Logo" style="width:100px;height:120px;">
    </div>


    
    <div class="o-nama">
  
    <p>Osnovani sa ciljem da se promoviše amaterski sport i druženje.</p>
    <p>Poštuju se pravila strogog FAIR PLAY-a i poštovanja protivnika!</p>
    <p>Igramo u najboljim balonima u gradu, vikendima  u najboljim terminima.</p>
    <p>Obezbedili smo, i ako nije sve u tome,  vredne novčane i robne nagrade kao i pehare za najbolje timove i pojedince.</p> 
    <p>Obezbedili smo za vas najbolju grupu arbitara  sa višegodišnjim iskustvom u sudjenju turnira i liga malog fudbala, koji su tu da učesnicima pruže fer i korektno sudjenje.</p>
    <p>U slučaju da  nemate ekipu, a želeli biste da igrate, prijavite se- naći ćemo vam mesto!</p>

    </div>
    
  </ion-content>
</ion-view>
