<ion-view view-title="Add Away Goalkeeper Save">
  <ion-content class="padding">
	<div class="row">
	  <div class="col col-33 col-offset-33">
	  	<img src="{{current_team.avatar_url}}" height="auto" width="100%" style="max-width: 200px">
	  </div>
	</div> 

	<div class="list">
	    <button ng-click="submit_away(match_player.player_id)" class="item item-thumbnail-left" ng-repeat="match_player in away_players_on_match" style="width:100%;">
		      <img src="{{match_player.player_avatar_url}}">
		      <h2>{{match_player.player_name}}</h2>
		      <p>{{match_player.player_surname}}</p>
	    </button>
	</div>
	
  </ion-content>
</ion-view>
