<ion-view view-title="Experience">
  <ion-content class="padding" ng-repeat="player in players" ng-show="player.id == id_igraca">
	<div class="row">
	  <div class="col col-33 col-offset-33">
	  	<img src="{{player.avatar_url}}" height="auto" width="100%" style="max-width: 200px">
	  </div>
	</div>

	<div class="row">
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>

	<table class="player-stats">
			<tr>
				<th>Ime</th>
				<th>Prezime</th>
				<th>Level</th>
				<th>XP</th>
			</tr>
			<tr>
				<td>{{player.name}}</td>
				<td>{{player.surname}}</td>
				<td>{{player.level}}</td>
				<td>{{player.experience}}</td>
			</tr>
	</table>

	<div class="row">
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>

	<table class="player-stats">
			<tr>
				<th>Experience</th>
				<td>{{current_player_season.expirience}}</td>
			</tr>
			<tr>
				<th>Level</th>
				<td>{{current_player_season.level}}</td>
			</tr>
	</table>
	<div>
	</div>
  </ion-content>
</ion-view>
