<ion-view view-title="O nama">
  <ion-content class="padding" style="color:white">
    ŽELELI STE ODUVEK DA IGRATE FUDBAL?<br> ILI DA DOŽIVITE UZBUĐENJE TAKMIČENJA?<br><br>

    Onda je BALF liga pravo mesto za Vas. <br>
    Ako imate ekipu sa kojom igrate stalno,<br>
    prijavite se na našem sajtu I igrajte <br>
    kvalitetan fudbal po propisima FIFE, <br>
    jednom nedeljno, svaki put protiv druge ekipe.<br>
    Osnovani sa ciljem da se promoviše amaterski sport i druženje.
  </ion-content>
</ion-view>
