<ion-view view-title="O nama">
  <ion-content class="kontakt-o-nama">
  <div id="slika-o-nama" class="elastic-image" style="background:url('img/match.jpg');    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;  "></div>
  <div class="the-content">
  	<h3>ŽELELI STE ODUVEK DA IGRATE FUDBAL?<br>ILI DA DOŽIVITE UZBUĐENJE TAKMIČENJA?</h3>
  	<div class="opis-o-nama">
	  	<p>Onda je BALF liga pravo mesto za Vas. Ako imate ekipu sa kojom igrate stalno, prijavite se na našem sajtu I igrajte
	  	kvalitetan fudbal po propisima FIFE, jednom nedeljno, svaki put protiv druge ekipe. Osnovani sa ciljem da se promoviše 
	  	amaterski sport i druženje.</p>
	</div>
  </ion-content>
</ion-view>