<ion-view view-title="Kontakt">
  <ion-content class="padding">

  	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
    <div class="col" style="color:white; background-color: rgba(255, 255, 255, 0.07); min-height:80px; font-size: 20px">
  		BALF liga se trenutno igra u 9 balona u gradu. <br>Za sve informacije nas možete pozvati na:<br>
    </div>
    <div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
    <div style="color: white; text-align: center; font-size: 20px:">
	  	<img ng-src="img/emoticons/phone.png" style="max-width:17px;">
	  	060 / 329-19-15<br>
	  	<img ng-src="img/emoticons/phone.png" style="max-width:17px;">
	  	069 / 286-93-42<br><br>
    </div>  
	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
	<div class="row" style="min-width: 100%">
		<div class="col col-50" style="color:white; background-color: rgba(255, 255, 255, 0.07); min-height:80px; font-size: 15px">
			Kontakt info:<br>info@balf.rs<br>marketing@balf.rs<br>žalbe@balf.rs<br>zaposlenje@balf.rs
		</div>
		<div class="col col-50" style="padding-left: 40px">
			<img ng-src="img/balf-logo-155px.png" style="max-width:100px;">
		</div>
	</div>	    
  </ion-content>
</ion-view>
