<ion-view view-title="O nama">
  <ion-content class="padding">
  	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>
    <div class="col" style="color:white; background-color: rgba(255, 255, 255, 0.07);">ŽELELI STE ODUVEK DA IGRATE FUDBAL?<br> ILI DA DOŽIVITE UZBUĐENJE TAKMIČENJA?<br><br></div>

    <div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>

	<div class="row" >
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
	</div>

    <div class="col card" style="background-color: black; font-size: 17px; color:orange; min-height: 230px">
	    Onda je BALF liga pravo mesto za Vas. <br>
	    Ako imate ekipu sa kojom igrate stalno,<br>
	    prijavite se na našem sajtu I igrajte <br>
	    kvalitetan fudbal po propisima FIFE, <br>
	    jednom nedeljno, svaki put protiv druge ekipe.<br>
	    Osnovani sa ciljem da se promoviše amaterski sport i druženje.
    </div>
    
  </ion-content>
</ion-view>
