<ion-view view-title="Kontakt">
  <ion-content class="kontakt-o-nama">
  <div id="slika-o-nama" class="elastic-image" style="background:url('img/football.jpeg');     -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;  "></div>
  <div class="the-content">
  	<h4>BALF liga se trenutno igra u 9 balona u gradu. Za sve informacije nas možete pozvati na:</h4>
  	<div style="text-align: left; font-size: 15px; padding-top: 10px;">
	  	<img ng-src="img/emoticons/phone.png" style="max-width:17px;">
	  	060 / 329-19-15<br>
	  	<img ng-src="img/emoticons/phone.png" style="max-width:17px;">
	  	069 / 286-93-42
    </div>  
  	<div class="opis-o-nama">

	<h4>Kontakt info:</h4>
	<table style="min-height:80px; font-size: 15px; width: 100%; padding: 10px;">
		<tr>
			<td><img ng-src="img/emoticons/informacije_01.png" class="kontakt-mail">info@balf.rs</td>
		</tr>
		<tr>
			<td><img ng-src="img/emoticons/informacije_02.png" class="kontakt-mail">marketing@balf.rs</td>
		</tr>
		<tr>
			<td><img ng-src="img/emoticons/informacije_03.png" class="kontakt-mail">žalbe@balf.rs</td>
		</tr>
		<tr>
			<td><img ng-src="img/emoticons/informacije_04.png" class="kontakt-mail">zaposlenje@balf.rs</td>
		</tr>
	</table>
  </ion-content>
</ion-view>
