<ion-view view-title="RANG LISTA IGRACA">
	<ion-content class="padding">
		<!-- <div class="row" style="background: white"> -->
			<!-- <div class="col-10">Poz</div> -->
			<!-- <div class="col-20">Ime</div> -->
			<!--<div class="col">Ekipa</div>-->
			<!-- <div class="col-10">G</div> -->
			<!-- <div class="col-10">A</div> -->
			<!--<div class="col">{{player_season_4_1.fouls}}</div>-->
			<!-- <div class="col-10">ZK</div> -->
			<!-- <div class="col-10">CK</div> -->
			<!-- <div class="col-20">EXP</div> -->
			<!-- <div class="col-10">Lvl</div> -->
		<!-- </div> -->
		<!-- <div class="row" style="background: white" ng-repeat="player_season_4_1 in player_seasons_4_1 | orderBy:'-expirience'"> -->
			<!-- <div class="col-10">{{player_season_4_1.position}}</div> -->
			<!-- <div class="col-20">{{player_season_4_1.name}}<br>{{player_season_4_1.surname}}</div> -->
			<!--<div class="col">{{player_season_5_1.team_name}}</div>-->
			<!-- <div class="col-10">{{player_season_4_1.goals}}</div> -->
			<!-- <div class="col-10">{{player_season_4_1.assists}}</div> -->
			<!--<div class="col">{{player_season_4_1.fouls}}</div>-->
			<!-- <div class="col-10">{{player_season_4_1.yellow_cards}}</div> -->
			<!-- <div class="col-10">{{player_season_4_1.red_cards}}</div> -->
			<!-- <div class="col-20">{{player_season_4_1.expirience}}</div> -->
			<!-- <div class="col-10">{{player_season_4_1.level}}</div> -->
		<!-- </div> -->

		<div class="col" style="background-color: rgba(255, 255, 255, 0.07); text-align: center; color: white; font-size: 20px">
		RANG LISTA IGRAČA (4+1)
		</div>

		<div class="row">
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
		</div>

		<table class="player-stats1">
			<tr>
				<th>Poz</th>
				<th>Ime</th>
				<th>G</th>
				<th>A</th>
				<th>F</th>
				<th>ŽK</th>
				<th>CK</th>
				<th>LvL</th>
				<th>EXP</th>
			</tr>
			<tr ng-repeat="player_season_4_1 in player_seasons_4_1 | orderBy:'-expirience'">
				<td>{{player_season_4_1.position}}.</td>
				<td>{{player_season_4_1.name}}<br>{{player_season_4_1.surname}}</td>
				<td>{{player_season_4_1.goals}}</td>
				<td>{{player_season_4_1.assists}}</td>
				<td>{{player_season_4_1.fouls}}</td>
				<td>{{player_season_4_1.yellow_cards}}</td>
				<td>{{player_season_4_1.red_cards}}</td>
				<td>{{player_season_4_1.level}}</td>
				<td>{{player_season_4_1.expirience}}</td>
			</tr>
		</table>
	</ion-content>
</ion-view>