<!--
Tabovi za League, gde se nalaze linkovi ka stranicama:
1. Tabela moje lige
2. Zavrsene utakmice moje lige
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Experience  tab-->
  <ion-tab title="Tabela moje lige" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/league_tab/league">
    <ion-nav-view name="league_tab-league"></ion-nav-view>
  </ion-tab>
  <!-- Stats tab -->
   <ion-tab title="Odigrane utakmice" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/league_tab/league_matches_played">
    <ion-nav-view name="league_tab-league_matches_played"></ion-nav-view>
  </ion-tab>

</ion-tabs>