<ion-view view-title="Moja liga">
	<ion-content class="padding">

		<div class="col" style="background-color: rgba(255, 255, 255, 0.07); text-align: center; color: white; font-size: 20px">
		{{league.name}}
		</div>

		<div class="row">
		<div class="col col-offset-33 col-offset-33 col-offset-33"></div>
		</div>

		<table class="player-stats1">
			<tr>
				<th>Poz</th>
				<th>Ekipa</th>
				<th>O</th>
				<th>P</th>
				<th>N</th>
				<th>I</th>
				<th>GR</th>
				<th>BD</th>
			</tr>
			<tr ng-repeat="team_season in current_team_seasons | orderBy:'-points'">
				<td>{{$index+1}}.</td>
				<td>{{team_season.team_name}}</td>
				<td>{{team_season.matches_played}}</td>
				<td>{{team_season.matches_win}}</td>
				<td>{{team_season.matches_draw}}</td>
				<td>{{team_season.matches_lose}}</td>
				<td>{{team_season.goals_scored - team_season.goals_received}}</td>
				<td>{{team_season.points}}</td>
			</tr>
		</table>
	</ion-content>
</ion-view>