<ion-view cache-view="false" view-title="Utakmica delegata">
  <ion-content class="padding has-header" style="font-family: Ubuntu; color: white; font-weight: 500;">
    <div class="row header" style="text-align: center; background-color: rgba(38, 58, 93, 0.83); height: 130px;">
        <div class="col col-33 col-center" ><img src="{{mec_delegata.home_team_avatar}}" height="auto" width="100%" style="max-width: 80px;"></div>
        <div class="col col-33 col-center" style=" font-size: 25px;">{{mec_delegata.home_goals}} - {{mec_delegata.away_goals}}</div>
        <div class="col col-33 col-center" ><img src="{{mec_delegata.away_team_avatar}}" height="auto" width="100%" style="max-width: 80px;"></div>
    </div>
    <div class="row" style="text-align: center; background-color: rgba(71, 91, 121, 0.64); height: 80px;">
        <div class="col col-33 col-center" >{{mec_delegata.home_team_name}}</div>
        <div class="col col-33 col-center" ></div>
        <div class="col col-33 col-center" >{{mec_delegata.away_team_name}}</div>
    </div>
    <!-- GOLOVI -->
    <div class="row" style="text-align: center; background-color: rgba(38, 58, 93, 0.83); height: 80px;">
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_home_goal()">+ GOL</div>
        <div class="col col-20 col-center" >{{mec_delegata.home_goals}}</div>
        <div class="col col-10 col-center" style="font-size: 11px;">G</div>
        <div class="col col-20 col-center" >{{mec_delegata.away_goals}}</div>
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_away_goal()">+ GOL</div>
    </div>
    <!-- ASISTENCIJE -->
    <div class="row" style="text-align: center; background-color: rgba(71, 91, 121, 0.64); height: 80px;">
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_home_assist()">+ ASSIST</div>
        <div class="col col-20 col-center" >{{mec_delegata.home_assists}}</div>
        <div class="col col-10 col-center" style="font-size: 11px;">A</div>
        <div class="col col-20 col-center" >{{mec_delegata.away_assists}}</div>
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_away_assist()">+ ASSIST</div>
    </div>
    <!-- FAULOVI -->
    <div class="row" style="text-align: center; background-color: rgba(38, 58, 93, 0.83); height: 80px;">
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_home_foul()">+ FAUL</div>
        <div class="col col-20 col-center" >{{mec_delegata.home_fouls}}</div>
        <div class="col col-10 col-center" style="font-size: 11px;">F</div>
        <div class="col col-20 col-center" >{{mec_delegata.away_fouls}}</div>
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_away_foul()">+ FAUL</div>
    </div>
    <!-- ZUTI KARTONI -->
    <div class="row" style="text-align: center; background-color: rgba(71, 91, 121, 0.64); height: 80px;">
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_home_yellow_card()">+ Ž.K</div>
        <div class="col col-20 col-center" >{{mec_delegata.home_yellow_cards}}</div>
        <div class="col col-10 col-center" style="font-size: 11px;">Ž.K</div>
        <div class="col col-20 col-center" >{{mec_delegata.away_yellow_cards}}</div>
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_away_yellow_card()">+ Ž.K</div>
    </div>
    <!-- CRVENI KARTONI -->
    <div class="row" style="text-align: center; background-color: rgba(38, 58, 93, 0.83); height: 80px;">
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_home_red_card()">+ C.K</div>
        <div class="col col-20 col-center" >{{mec_delegata.home_red_cards}}</div>
        <div class="col col-10 col-center" style="font-size: 11px;">C.K</div>
        <div class="col col-20 col-center" >{{mec_delegata.away_red_cards}}</div>
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_away_red_card()">+ C.K</div>
    </div>
    <!-- SUTEVI -->
    <div class="row" style="text-align: center; background-color: rgba(71, 91, 121, 0.64); height: 80px;">
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_home_shoot()">+ ŠUT</div>
        <div class="col col-20 col-center" >{{homeshoots}}</div>
        <div class="col col-10 col-center" style="font-size: 11px;">Š</div>
        <div class="col col-20 col-center" >{{awayshoots}}</div>
        <div class="button col col-25 col-center" style="font-size: 11px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_away_shoot()">+ ŠUT</div>
    </div>
    <!-- ODBRANE -->
    <div class="row" style="text-align: center; background-color: rgba(38, 58, 93, 0.83); height: 80px;">
        <div class="button col col-25 col-center" style="font-size: 10px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_home_goalkeeper_saves()">+ ODBRANU</div>
        <div class="col col-20 col-center" >{{mec_delegata.home_goalkeeper_saves}}</div>
        <div class="col col-10 col-center" style="font-size: 11px;">O</div>
        <div class="col col-20 col-center" >{{mec_delegata.away_goalkeeper_saves}}</div>
        <div class="button col col-25 col-center" style="font-size: 10px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_away_goalkeeper_saves()">+ ODBRANU</div>
    </div>
    <!-- IZABERI IGRACE -->
    <div class="row" style="text-align: center; background-color: rgba(71, 91, 121, 0.64); height: 80px;">
        <div class="button col col-40 col-center" style="font-size: 12px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_choose_home_players()">Izaberi igrače</div>
        <div class="col col-10 col-center" style="font-size: 11px;"></div>
        <div class="button col col-40 col-center" style="font-size: 12px; max-height: 30px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
            border-radius: 30px;" ng-click="go_choose_away_players()">Izaberi igrače</div>
    </div>
    <div class="row">
        <div class="col col-offset-33 col-offset-33 col-offset-33"></div>
    </div>
    <div class="button-bar button-pill">
        <a class="button" ng-click="start_match()" style="background: -webkit-linear-gradient(-45deg, rgba(25, 43, 64,1) 1%,rgba(51, 121, 182,1) 100%); color: white">Start match</a>
        <a class="button" ng-click="finish_match()" style="background: -webkit-linear-gradient(-45deg, rgba(51, 121, 182,1) 1%,rgba(25, 43, 64,1) 100%); color: white">Finish match</a>
    </div>
  </ion-content>
</ion-view>