<ion-view view-title="Statistike meča">
  <ion-content class="padding has-header" style="background: white; font-family: Ubuntu; font-weight: 500;">
    <div class="row" style="text-align: center; background-color: rgba(38, 58, 93, 0.83); height: 130px;">
    	<div class="col col-33 col-center"><img src="{{gotov_mec.home_team_avatar}}" height="auto" width="auto" style="max-width: 80px; max-height: 80px"></div>
    	<div class="col col-33 col-center" style="font-size: 22px; color: white">{{gotov_mec.home_goals}} - {{gotov_mec.away_goals}}</div>
    	<div class="col col-33 col-center"><img src="{{gotov_mec.away_team_avatar}}" height="auto" width="auto" style="max-width: 80px; max-height: 100px"></div>
    </div>
    <div class="row">
	    <div class="col col-25"></div>
	    <div class="col col-50" align="center" >GOALS</div>
	    <div class="col col-25"></div>
    </div>
	<div class="row">
		<div class="col col-20 col-center">{{procenat_home_goals | number: 2}}%</div>
		<div class="col col-60"><progress max="{{gotov_mec.home_goals + gotov_mec.away_goals}}" value="{{gotov_mec.home_goals}}"> </progress></div>
		<div class="col col-20 col-center">{{procenat_away_goals | number: 2}}%</div>
	</div>

    <div class="row">
	    <div class="col col-25"></div>
	    <div class="col col-50" align="center" >ASISSTS</div>
	    <div class="col col-25"></div>
    </div>
	<div class="row">
		<div class="col col-20 col-center">{{procenat_home_assists | number: 2}}%</div>
		<div class="col col-60"><progress max="{{gotov_mec.home_assists + gotov_mec.away_assists}}" value="{{gotov_mec.home_assists}}"> </progress></div>
		<div class="col col-20 col-center">{{procenat_away_assists | number: 2}}%</div>
	</div>
  
     <div class="row">
	    <div class="col col-25"></div>
	    <div class="col col-50" align="center" >FOULS</div>
	    <div class="col col-25"></div>
    </div>
	<div class="row">
		<div class="col col-20 col-center">{{procenat_home_fouls | number: 2}}%</div>
		<div class="col col-60"><progress max="{{gotov_mec.home_fouls + gotov_mec.away_fouls}}" value="{{gotov_mec.home_fouls}}"> </progress></div>
		<div class="col col-20 col-center">{{procenat_away_fouls | number: 2}}%</div>
	</div>

    <div class="row">
	    <div class="col col-25"></div>
	    <div class="col col-50" align="center" >YELLOW CARDS</div>
	    <div class="col col-25"></div>
    </div>
	<div class="row">
		<div class="col col-20 col-center">{{procenat_home_yellow_cards | number: 2}}%</div>
		<div class="col col-60"><progress max="{{gotov_mec.home_yellow_cards + gotov_mec.away_yellow_cards}}" value="{{gotov_mec.home_yellow_cards}}"> </progress></div>
		<div class="col col-20 col-center">{{procenat_away_yellow_cards | number: 2}}%</div>
	</div>

    <div class="row">
	    <div class="col col-25"></div>
	    <div class="col col-50" align="center" >RED CARDS</div>
	    <div class="col col-25"></div>
    </div>
	<div class="row">
		<div class="col col-20 col-center">{{procenat_home_red_cards | number: 2}}%</div>
		<div class="col col-60"><progress max="{{gotov_mec.home_red_cards + gotov_mec.away_red_cards}}" value="{{gotov_mec.home_red_cards}}"> </progress></div>
		<div class="col col-20 col-center">{{procenat_away_red_cards | number: 2}}%</div>
	</div>

    <div class="row">
	    <div class="col col-25"></div>
	    <div class="col col-50" align="center" >GOALKEEPER SAVES</div>
	    <div class="col col-25"></div>
    </div>
	<div class="row">
		<div class="col col-20 col-center">{{procenat_home_goalkeeper_saves | number: 2}}%</div>
		<div class="col col-60"><progress max="{{gotov_mec.home_goalkeeper_saves + gotov_mec.away_goalkeeper_saves}}" value="{{gotov_mec.home_goalkeeper_saves}}"> </progress></div>
		<div class="col col-20 col-center">{{procenat_away_goalkeeper_saves | number: 2}}%</div>
	</div>
</ion-view>
