<ion-view view-title="Add Away Foul">
  <ion-content class="padding">
	<div class="row">
	  <div class="col col-33 col-offset-33">
	  	<img src="{{current_team.avatar_url}}" height="auto" width="100%" style="max-width: 200px">
	  </div>
	</div> 

	<div class="list">
		    <button ng-click="submit_away(player.id)" class="item item-thumbnail-left" ng-repeat="player in current_team_players" style="width:100%;">
			      <img src="{{player.avatar_url}}">
			      <h2>{{player.name}}</h2>
			      <p>{{player.surname}}</p>
		    </button>
	</div>
	
  </ion-content>
</ion-view>
