<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- nas CSS -->
    <link href="css/style_ng.css" rel="stylesheet">
    <link href="css/style_ps.css" rel="stylesheet">
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/angular/angular-resource.min.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <!-- Controllers -->
    <script src="js/controllers/player_controller.js"></script>
    <script src="js/controllers/single_player_controller.js"></script>
    <script src="js/controllers/rang_list_controller.js"></script>
    <script src="js/controllers/goal_controller.js"></script>
    <script src="js/controllers/assist_controller.js"></script>
    <script src="js/controllers/foul_controller.js"></script>
    <script src="js/controllers/yellow_card_controller.js"></script>
    <script src="js/controllers/red_card_controller.js"></script>
    <script src="js/controllers/goalkeeper_save_controller.js"></script>
    <script src="js/controllers/shoot_controller.js"></script>
    <script src="js/controllers/delegate_controller.js"></script>
    <script src="js/controllers/team_controller.js"></script>
    <script src="js/controllers/team_rang_list_controller.js"></script>
    <script src="js/controllers/match_controller.js"></script>
    <script src="js/controllers/match_players_controller.js"></script>
    <script src="js/controllers/match_played_controller.js"></script>
    <!-- Routes -->
    <script src="js/routes.js"></script>
    <!-- Services -->
    <script src="js/services.js"></script>

    <!-- js za progress bar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-svg-round-progressbar/0.4.4/roundProgress.min.js"></script>

  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-side-menus>
        <ion-side-menu side="left">
          <ion-header-bar class="siki">
            <img ng-src="img/balf-logo-155px.png" style="max-width:35px;">
          </ion-header-bar>
          <ion-content>
            <div  >
            <ul class="list" ng-controller="LoginCtrl">
              <!-- Ako NIJE ulogovan, PRVO VIDI Login DUGME -->
              <li ng-app="starter" ng-if="ulogovan() == 'false'">
                <a class="item" menu-close href="#/home_tab/login">Login</a>
              </li>
              
              <!-- Ako JESTE ulogovan -->
              <li ng-if="ulogovan_igrac() == 'true'">
                <a class="item" menu-close href="#/player_tab/experience">Moj profil</a>
              </li>
              <li ng-if="ulogovan_delegat() == 'true'">
                <a class="item" menu-close href="#/delegate_tab/matches">Moj profil</a>
              </li>
              <li ng-if="ulogovan_igrac() == 'true'">
                <a class="item" menu-close href="#/team_tab/experience">Moja ekipa</a>
              </li>
              <li ng-if="ulogovan_igrac() == 'true'">
                <a class="item" menu-close href="#">Moja liga</a>
              </li>
              <li ng-if="ulogovan() == 'true'">
                <a class="item" menu-close href="#">Moje utakmice</a>
              </li>
              <li ng-if="ulogovan() == 'true'">
                <a class="item" menu-close href="#/pl_tab/players_rang_list_5_1">Rang lista 5+1</a>
              </li>
              <li ng-if="ulogovan() == 'true'">
                <a class="item" menu-close href="#/players_rang_list_4_1">Rang lista 4+1</a>
              </li>
              <li>
                <a class="item" menu-close href="#/home_tab/o_nama">O nama</a>
              </li>
              <li>
                <a class="item" menu-close href="#/home_tab/kontakt">Kontakt</a>
              </li>
              <li ng-if="ulogovan() == 'true'">
                <a class="item" ng-click="logout()" menu-close href="#/home_tab/login">Log out</a>
              </li>                        
            </ul>
            </div>
          </ion-content>
        </ion-side-menu>

        <ion-side-menu-content>
            <ion-nav-view></ion-nav-view>
            <ion-nav-bar class="siki">
              <ion-nav-back-button>
              </ion-nav-back-button>

              <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
              </ion-nav-buttons>
            </ion-nav-bar>
            <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-side-menu-content>

    </ion-side-menus>


    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    
  </body>
</html>
