<!--
Tabovi za Rang listu, gde se nalaze linkovi ka stranicama:
1. Rang listi igraca za 5 + 1
2. Rang listi timova za 5 + 1
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Experience  tab-->
  <ion-tab title="Rang lista igraca" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/pl_tab/players_rang_list_5_1">
    <ion-nav-view name="pl_tab-players_rang_list_5_1"></ion-nav-view>
  </ion-tab>
  <!-- Stats tab -->
   <ion-tab title="Rang lista timova" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/pl_tab/teams_rang_list_5_1">
    <ion-nav-view name="pl_tab-teams_rang_list_5_1"></ion-nav-view>
  </ion-tab>

</ion-tabs>