<ion-view view-title="Choose Away Players">
  <ion-content class="padding">
	<div class="row">
	  <div class="col col-33 col-offset-33">
	  	<img src="{{current_team.avatar_url}}" height="auto" width="100%" style="max-width: 200px">
	  </div>
	</div> 

	<ion-list>
	  <ion-checkbox ng-model="checkItems[player.id]" class="item item-avatar-right" ng-repeat="player in current_team_players" ng-change="print()">
		<img ng-src="{{player.avatar_url}}">
		<h2>{{player.name}}</h2>
		<p>{{player.surname}}</p>
	  </ion-checkbox>
	  <div class="col text-center">
	 	<button  type="button" name="button" ng-click="save()" style="min-width: 60%; min-height: 40px; background: rgb(0, 7, 121); color: white; box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  			border-radius: 30px;">Save</button>
	  </div>
	</ion-list>
	
  </ion-content>
</ion-view>
