/*  
    

                  **** ceo content   ****              */



.padding{
	padding-top: 10% !important;
} 

.padding h2{
text-align: center !important;
color:white !important;
}
/*                     **** sredjivanje logo-a   ****              */
#logo_naslovna{
	padding-top: 3%;
	text-align: center;
}

.login_form{
	padding-left: 10% !important;
	padding-right: 10% !important;
	padding-top: 10% !important;

}
/*            **** button log in   ****              */

.button.button-block{
	
	background: rgba(255,255,255,0.6) !important;
	border-color: #e68a00 !important;
}
.button.button-block h4{
	color:white !important;
}
/*            **** place holder   ****              */
.item.item-input{
	border-color: #e68a00;
}
