
       /*         ********** O NAMA *********    */

/*                  **** O nama  ****              */

#o_nama h1{
color:white !important;
text-align: center !important;
padding: 5% !important;
}
/*                     **** Sredjivanje Hedera  ****              */

.bar-heder{
	background-color: #00091a !important;
	color:white !important;
	border-color: #f9ad1c !important;


}

  

                  /*   **** O nama Logo Balf-a ****   */

#bgr-img{
	text-align: center !important;
 }
                      /*  **** O nama text ****   */
.o-nama{
	margin: 10% 3% 3%  !important;
    border: 0.5px solid  !important;
	border-color: #e68a00 !important;
	border-radius: 5px !important;
	background: rgba(255,255,255,0.6) !important;
	

}

.o-nama p{
	font-size: 1.1em !important;

	
}
